<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>ZaPishka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/93/93155.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background:  url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1711/Gray-owl-black-background_1920x1080.jpg); /* Цвет фона и путь к файлу */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div class="row justify-content-between" style="width:100%">
            <div class="col-1">
                <a class="navbar-brand" href="/main">
                    <img src="https://image.flaticon.com/icons/png/512/93/93155.png" height="30" style="margin-right:10px;margin-top:3px" class="d-inline-block align-top" alt="">
                    <span class="navbar-brand mb-0 h1">ZaPishka</span>
                </a>
            </div>
            <div class="col-0">
                <form class="form-inline" action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <span class="navbar-brand mb-0 h1">{{user.username}}</span>
                    <button class="btn btn-outline-primary" style="margin-top:6px" type="submit">Выйти</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="">
    <br><br><br>
    <table class="table table-secondary table-striped table-bordered table-hover justify-content-center" style="width:40%;margin-left:auto;margin-right:auto" >
        <thead class="thead-dark">
        <tr>
            <th scope="col" style="text-align:center">Заголовок</th>
            <th scope="col" style="text-align:center" width=10%>Изменить</th>
            <th scope="col" style="text-align:center" width=10%>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {{#notes}}
            <tr>
                <th scope="row" style="text-align:center">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalLong{{id}}">
                        {{header}}
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="ModalLong{{id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle{{id}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{header}}</h5>
                                </div>
                                <div class="modal-body">
                                    {{data}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </th>
                <td style="text-align:center">
                    <a class="navbar-brand" href="/edit/{{id}}">
                        <img src="https://image.flaticon.com/icons/svg/1040/1040228.svg" height="30" style="margin-left:12px" class="d-inline-block align-top" alt="">
                    </a>
                </td>
                <td style="text-align:center">
                    <a class="navbar-brand" href="/delete/{{id}}">
                        <img src="https://image.flaticon.com/icons/svg/395/395848.svg" height="30" style="margin-left:12px" class="d-inline-block align-top" alt="">
                    </a>
                </td>
            </tr>
        {{/notes}}
        </tbody>
    </table>
</div>
<nav class="navbar navbar-dark bg- fixed-bottom">
    <div class="container-fluid">
        <div class="row justify-content-between" style="width:100%">
            <div class="col-2">
                <a class="navbar-brand" href="/add">
                    <img src="https://image.flaticon.com/icons/svg/179/179402.svg" height="80" style="margin-right:10px;margin-top:3px" class="d-inline-block align-top" alt="">
                    <span class="navbar-brand mb-0 h1" style="margin-top:15px;font-size:30px">Добавить</span>
                </a>
            </div>
            <div class="col-0" style="margin-top:30px">
                <form class="form-inline my-2 my-lg-0" action="/main" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <input class="form-control mr-sm-2" type="search" name="header" placeholder="Поиск по заголовку" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
